.zone-floating {
    display: block;
    position: fixed;
}
.linkvn-zone {
    overflow: hidden;
    position: relative;
}
.linkvn-zone * {
    color: #464646;
    float: none;
    font-family: arial;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
    padding: 0;
    outline: medium;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-align: left;
    text-shadow: none;
    width: auto;
}
.linkvn-zone a, .linkvn-zone a:hover, .linkvn-zone a:visited, .linkvn-zone a:active {
    text-decoration: none !important;
}
.linkvn-zone a img {
    border: 0 none;
    border-image: none 1 stretch;
}

.linkvn-zone del {
    text-decoration-line: line-through;
    text-decoration-style: solid;
}
.linkvn-zone span {
    display: block;
}
.linkvn-zone.linkvn-zone-metro {
    border: 1px solid #DCDCDC;
    background: #FFFFFF none repeat 0;
    border-image: none stretch 100% ;
    overflow: hidden;
}
.linkvn-zone.linkvn-zone-metro * {
    font-family: "tahoma","Segoe UI","open sans","arial","sans-serif";
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 16px;
}
.linkvn-zone.linkvn-zone-metro .header {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1001;
}
.linkvn-zone.linkvn-zone-metro .header .logo {
    height: 17px;
    width: 19px;
}
.linkvn-zone.linkvn-zone-metro .header .logo i {
    background: url("http://ads.link.vn/resource/images/ads_logo_tiny.png") no-repeat scroll;
    display: block;
    height: 17px;
    position: absolute;
    width: 19px !important;
    z-index: 1000;
}
.linkvn-zone.linkvn-zone-metro .header .logo abbr {
    background-color: #FFFFFF;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAKCAYAAADhNJ24AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbBJREFUeNrEVe1twjAQNRH/mw3qTlA6AWECYALoBJAJokpt/9JOkDIB6QTABMAEpBt4g9YnPUtPJzu/UnHSyfHXu693zuD17d1Acq8jr2evzsSl8HqgudyxuNOXBD8c4bId7QOLxdiGhYw2l15rjCnZq7k4sukxOLF99Vp53cEfbafquL+AmliAsjHXB6hyeQewhRNcAd6ziTuFmksQE+gD1nTCX1S1U76JDzZTpT0TDQLAyesUGTUJoA0yW4Nae8LcqICZLVOcFTszr1+K7hOsxVg0gm9jjDaC74ZYWFFgLap4gFFZLwFwjQToUHmDfTHcAOMTmHN1pwKmoyrddfR+TFaopiTgSAGugfPEAc4QWEXZEQfuqWHbhKFWfecITCr+g2Bj9HxUrLGoqG4Nm7At61t8h0dnTFjih8sA4oj7gRaS1QvRtejov1y9wuElloR9J5JyRAUuONvAxlr1pOlIbKA+P44HJLgOj8yCMhFkCwo0cPaEeUp26I2SaLZF0LEKzuH8HrgtJVn8+YXNJtKDQUrqYavOfQS6Dug/2LcsQZlnc0MZ/mNwFSpyU/kTYAB6Y3brWms9TQAAAABJRU5ErkJggg==");
    background-position: left 2px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    height: 14px;
    margin-left: -60px;
    padding-right: 2px;
    text-indent: -9999px;
    transition-delay: 0s;
    transition-duration: 300ms;
    transition-property: margin;
    transition-timing-function: linear;
    width: 60px;
}
.linkvn-zone.linkvn-zone-metro .header .logo:hover abbr {
    margin-left: 20px;
}
.linkvn-zone.linkvn-zone-metro .banners {
}
.linkvn-zone.linkvn-zone-metro .banners:before, .linkvn-zone.linkvn-zone-metro .banners:after {
    content: "";
    display: table;
}
.linkvn-zone.linkvn-zone-metro .banners:after {
    clear: both;
}
.linkvn-zone.linkvn-zone-metro .banner {
    display: block;
    float: left;
    height: 140px;
    margin-bottom: 4.5px;
    margin-left: 4.5px;
    margin-right: 4.5px;
    margin-top: 4.5px;
    overflow: hidden;
    position: relative;
    width: 140px;
}
.linkvn-zone.linkvn-zone-metro .banner:before, .linkvn-zone.linkvn-zone-metro .banner:after {
    content: "";
    display: table;
}
.linkvn-zone.linkvn-zone-metro .banner:after {
    clear: both;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front {
    position: relative;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front img {
    float: left;
    height: 110px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 110px;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front span {
    background: #00ccff none repeat scroll;
    height: 140px;
    left: 0;
    padding: 6px 10px 6px 10px;
    position: absolute;
    top: 120px;
    transition-delay: 0s;
    transition-duration: 350ms;
    transition-property: top;
    transition-timing-function: ease-in;
    /*                filter: alpha(opacity=50);
                    opacity: 0.5;*/
    z-index: 999;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front span strong, .linkvn-zone.linkvn-zone-metro .banner .banner-face-front span em, .linkvn-zone.linkvn-zone-metro .banner .banner-face-front span del, .linkvn-zone.linkvn-zone-metro .banner .banner-face-front span ins {
    color: #3E3E3F;
    display: block;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front span em {
    background: rgba(0, 0, 0, 0) none repeat scroll;
    color: #797878;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    overflow: hidden;
    width: 120px;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front span del {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    font-size: 11px;
    font-weight: 500;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front span ins {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #E91E23;
    font-size: 11px;
    font-weight: 500;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front span .discount {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 0, 0, 0.7);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    float: right;
    height: 37px;
    width: 37px;
}
.linkvn-zone.linkvn-zone-metro .banner .banner-face-front:hover span {
    background-attachment: scroll;
    background-clip: border-box;
    /*background-color: #ECF5FD;*/
    background-color: #81dafc;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    top: 0 !important;
    z-index: 1002;
}
.linkvn-zone.linkvn-zone-metro .banner em {
    text-align: right !important;
}
.linkvn-zone.linkvn-zone-metro .banner.banner-widget del, .linkvn-zone.linkvn-zone-metro .banner.banner-widget ins {
    text-align: right !important;
}
.linkvn-zone.linkvn-zone-metro .banner.banner-widget del {
    line-height: 13px;
}
.linkvn-zone.linkvn-zone-metro .banner.banner-widget ins {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 20px;
}
.linkvn-zone.linkvn-zone-metro .banner.banner-widget strong {
    height: 60px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: right !important;
}
.linkvn-zone.linkvn-zone-metro .banner.banner-context .banner-face-front span strong {
    font-family: arial;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 16px;
}
.linkvn-zone.linkvn-zone-metro .banner.banner-context .banner-face-front span ins {
    color: #0000FF;
    font-size: 12px;
}
/*            .linkvn-zone.vertical.linkvn-zone-metro.linkvn-zone-blue.metro-2-4 {
                height: 598px !important;
                width: 298px !important;
            }*/